# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.zip
*.tar.gz
*.rar

# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
dependency-reduced-pom.xml
*.balx
*.prefs
*.jar
**/docker/images/*
apim-analytics
apim-bps-approval-workflow
apim-is-as-keymanager-sso
apim-is-sso
apim-microservices-kubernetes
bps-bpmn-complex-workflow
ei-distributed-transactions
ei-mb-analytics
ei-quick-start-guide
financial-solutions
micro-integrator-sample
si-demos
solution-demos
microgateway_ref_architecture
